* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

header .logo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 24px;
  flex: 1;
  text-align: left;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 15px;
}

header nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1rem;
  transition: background-color 0.5s ease;
}

header nav ul li a:hover {
  background-color: #555;
}

/* About Section */
.about-section {
  padding: 50px 20px;
  background-color: #111;
  color: #fff;
  margin-top: 80px;
}

h2 {
  margin-bottom: 20px;
  color: #e987d0;
}

/* Content Box */
.content-box {
  background-color: #333;
  border: 1px solid #444;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-box-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.content-box-item img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.content-box-item p {
  margin: 0;
  color: #fff;
  flex: 1;
}

.content-box-item.reverse {
  flex-direction: row-reverse;
}

/* Footer */
footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
  width: 100%;
  bottom: 0;
  color: #fff;
}
