* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #000;
  color: #fff;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black; /* Fondo negro */
  color: white;
  width: 100%;
  top: 0;
  box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1; /* Esto hace que el contenedor logo ocupe todo el espacio posible */
}

header .logo img {
  width: 64px; /* Limita el ancho a 64 píxeles */
  height: 64px; /* Limita la altura a 64 píxeles */
  border-radius: 50%; /* Hace que la imagen sea circular */
}

header h1 {
  margin: 0; /* Elimina el margen del h1 para un mejor alineamiento */
  font-size: 24px; /* Ajusta el tamaño de la fuente del h1 */
  flex: 1; /* Esto hace que el h1 ocupe todo el espacio posible */
  text-align: left; /* Alinea el texto del h1 a la izquierda */
}

header nav {
  flex: 1; /* Esto hace que el contenedor nav ocupe todo el espacio posible */
  display: flex;
  justify-content: flex-end; /* Alinea los elementos del nav a la derecha */
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 15px; /* Añade margen izquierdo a los elementos de la lista */
}

header nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1rem;
  transition: background-color 0.5s ease;
}

header nav ul li a:hover {
  background-color: #555;
}



.about-section {
  padding: 50px 20px;
  background-color: #111;
  color: #fff;
  margin-top: 80px;
}

h2 {
  margin-bottom: 20px;
  color: #e987d0;
}

.content-box {
  background-color: #333;
  border: 1px solid #444;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-box-item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.content-box-item img {
  width: 300px;
  height: 250px;
  border-radius: 5px;
}

.content-box-item p {
  margin: 0;
  color: #fff;
  flex: 1;
}

.content-box-item.reverse {
  flex-direction: row-reverse;
}

footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  gap: 40px;
  width: 100%;
  bottom: 0;
  color: #fff;
}
