* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #fff;
}

.about-section {
    padding: 50px 20px;
    background-color: #111;
    color: #fff;
    margin-top: 50px;
}


header {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

header div {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.logo-link h1 {
    margin: 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 5px;
    padding: 5px;
}

header nav ul li a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    padding: 0.8rem 1rem;
    transition: background-color 0.5s ease;
}

header nav ul li a:hover {
    background-color: #555;
}

.about-section {
    padding: 40px 20px;
    background-color: #111;
    color: #fff;
}

.about-section h2 {
    margin-bottom: 20px;
    color: #e987d0;
}

.content-box {
    background-color: #333;
    border: 1px solid #444;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.content-box-item {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 20px;
}

.content-box-item img {
    width: 300px;
    height: 250px;
    border-radius: 5px;
}

.content-box-item p {
    margin: 0;
    color: #fff;
    flex: 1;
}

.content-box-item.reverse {
    flex-direction: row-reverse; 
}

footer {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}
