* {
  box-sizing: border-box;
  font-family: "Open Sans", Arial, sans-serif;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  position: relative;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

header .logo img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

header h1 {
  margin: 0;
  font-size: 24px;
  flex: 1;
  text-align: left;
}

header nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

header nav ul li {
  margin-left: 15px;
}

header nav ul li a {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  padding: 0.8rem 1rem;
  transition: background-color 0.5s ease;
}

header nav ul li a:hover {
  background-color: #555;
}

main {
  margin-top: 60px;
}

/* Content */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 10px;
  margin-top: 35px;
  margin-bottom: 35px;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.search-bar button {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 0 5px 5px 0;
  padding: 10px;
  cursor: pointer;
}

.search-bar button img {
  width: 20px;
  height: 20px;
}

.catalogo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.producto {
  background: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  padding: 10px;
  background-color: #e0e0e0;
}

.producto img {
  width: 100%;
  max-height: 300px;
  height: 300px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.producto h3 {
  text-align: center;
  color: #333;
}

.producto p {
  padding: 0 15px 15px;
  color: #666;
}

.producto:hover {
  transform: scale(1.05);
}

/* Footer */
footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 10px;
  gap: 40px;
  width: 100%;
  bottom: 0;
}
