/* Estilo para el header donde esta el nombre de la empresa */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    color: white;
    width: 100%;
}

.round-image {
    width: 50px;  /* Tamaño reducido */
    height: 50px; /* Tamaño reducido */
    border-radius: 50%;
    object-fit: cover; /* Para asegurarte de que la imagen se ajuste bien al contenedor */
}


header div {
    display: flex;
    align-items: center;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  
  .logo-link img {
    width: 64px; /* Limita el ancho a 64 píxeles */
    height: 64px; /* Limita la altura a 64 píxeles */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px;
  }
  
  .logo-link h1 {
    margin: 0;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    margin-left: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    gap: 2rem;
}


/* Sección de ubicación */
.location, .contact-form {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}


.contact-form h2 {
    margin-top: 0;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #ddd;
}
/* footer para las redes sociales de pie de pagina*/
footer {
    background-color: transparent;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}

