/* Estilo para el header donde esta el nombre de la empresa */
* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0px;
    padding: 0px;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.logo img {
    width: 48px;
    height: 48px;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}




/* Contenedor principal */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 2rem;
    gap: 2rem;
}


/* Sección de ubicación */
.location, .contact-form {
    padding: 20px;
    width: 100%;
    max-width: 500px;
    box-sizing: border-box;
}





.contact-form h2 {
    margin-top: 0;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.contact-form button {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #ddd;
}
/* footer para las redes sociales de pie de pagina*/
footer {
    background-color: #ff0d0d;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0.5rem 1rem;
    flex-wrap: wrap;
}





