body {
  margin: 0;
  padding: 0;
  background-color: black;
  box-sizing: border-box;
  overflow-x: hidden;
}

h2 {
  color: white;
}

/*header*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: black;
  color: white;
  position: relative;
  width: 100%;
  top: 0;
  box-sizing: border-box;
}

header div {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo-link img {
  margin-right: 10px;
}

.logo-link h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/*hero*/
.carusel {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 75vh;
}

.carsuel-track {
  display: flex;
  transition: transform 0.5s ease;
  width: 300%;
}

.hero {
  min-width: 100vw;
  height: 75vh;
  position: relative;
  z-index: 1;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hero img {
  height: 100%;
  width: 100%;
  object-fit: fill;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.contenido {
  color: white;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
}

.hero a {
  text-decoration: none;
  display: block;
}

.hero a img {
  display: block;
}

.hero a .contenido {
  position: relative;
  z-index: 1;
  display: block;
}
.carousel-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 2;
}

.carousel-arrow-left {
  left: 10px;
}

.carousel-arrow-right {
  right: 10px;
}

.carousel-navigator {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.carousel-navigator-dot {
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  cursor: pointer;
}

.carousel-navigator-dot.active {
  background: red;
}

/*servicios*/
.servicios {
  text-align: center;
  padding: 20px;
  margin: 20px 0;
}

.servicios h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: white;
}

.features {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.feature {
  text-align: center;
  padding: 15px;
  width: 20%;
  min-width: 150px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature .icon {
  font-size: 50px;
  margin-bottom: 10px;
}

/*preorder*/
.pre-orders {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 15px; /* Añade un padding alrededor del contenedor de los productos */
}

.producto {
  background: white;
  margin: 15px; /* Margen exterior entre productos */
  border: 1px solid #ddd;
  border-radius: 5px;
  width: calc(
    25% - 30px
  ); /* Ajusta el ancho para incluir espacio entre productos */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.producto img {
  width: 100%;
  max-height: 300px;
  height: 300px;
  border-bottom: 1px solid #ddd;
}

.producto h3 {
  text-align: center;
  color: #333;
  margin: 10px 0; /* Añade margen superior e inferior al título */
}

.pre-orders button {
  margin-top: 10px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.pre-orders h2 {
  text-align: center;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: darkgray;
}

/*subscripcion*/
.subscribe {
  position: relative;
  height: 75vh;
  overflow: hidden;
  margin-bottom: 20px;
}

.subscribe picture,
.subscribe img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.subscribe .subscribecontenido {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  color: white;
}

.subscribe h3 {
  color: white;
  position: relative;
  z-index: 1;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.6;
}

.subscribe button {
  padding: 10px 20px;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
}

/*footer*/
footer {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  padding: 10px;
  position: relative;
  gap: 40px;
}

.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.redes h3,
.extras h3 {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
}

.redes button {
  display: flex;
  align-items: center;
  border: none;
  background: none;
  padding: 5px 10px;
  cursor: pointer;
}

.redes button img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.redes button a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

.extras {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.extras a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
}

footer h4 {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 14px;
  color: #fff;
}
