* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: black; /* Fondo negro */
    color: white;
    width: 100%;
    top: 0;
    box-sizing: border-box; /* Asegura que el padding se incluya en el ancho total */
  }
  
  header .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Esto hace que el contenedor logo ocupe todo el espacio posible */
  }
  
  header .logo img {
    width: 64px; /* Limita el ancho a 64 píxeles */
    height: 64px; /* Limita la altura a 64 píxeles */
    border-radius: 50%; /* Hace que la imagen sea circular */
  }
  
  header h1 {
    margin: 0; /* Elimina el margen del h1 para un mejor alineamiento */
    font-size: 24px; /* Ajusta el tamaño de la fuente del h1 */
    flex: 1; /* Esto hace que el h1 ocupe todo el espacio posible */
    text-align: left; /* Alinea el texto del h1 a la izquierda */
  }
  
  header nav {
    flex: 1; /* Esto hace que el contenedor nav ocupe todo el espacio posible */
    display: flex;
    justify-content: flex-end; /* Alinea los elementos del nav a la derecha */
  }
  
  header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  header nav ul li {
    margin-left: 15px; /* Añade margen izquierdo a los elementos de la lista */
  }
  
  header nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0.8rem 1rem;
    transition: background-color 0.5s ease;
  }
  
  header nav ul li a:hover {
    background-color: #555;
  }
  
/* Servicios */
.servicios {
    text-align: center;
    padding: 20px;
    margin: 100px 0 20px 0; /* Ajusta el margen superior para dejar espacio para el header fijo */
}

.servicios h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: white;
}

.features {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.feature {
    text-align: center;
    padding: 20px;
    width: 20%; /* Ajusta el ancho para mejor distribución */
    min-width: 180px;
    height: 700px;
    background-color: #fff;
    color: #000; /* Asegura que el texto sea visible sobre el fondo blanco */
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Sombra más prominente */
    transition: transform 0.3s, box-shadow 0.3s; /* Transición para efecto de hover */
}

.feature:hover {
    transform: translateY(-5px); /* Efecto de elevación */
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada en hover */
}

.feature .icon {
    font-size: 50px;
    margin-bottom: 10px;
}

/* Preorder */
.pre-orders {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
