* {
    box-sizing: border-box;
    font-family: 'Open Sans', Arial, sans-serif;
}
/* Estilos Generales */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
}

.round-image {
    width: 50px;  /* Tamaño reducido */
    height: 50px; /* Tamaño reducido */
    border-radius: 50%;
    object-fit: cover; /* Para asegurarte de que la imagen se ajuste bien al contenedor */
}

header div {
    display: flex;
    align-items: center;
}

.logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.logo-link img {
    width: 50px; /* Tamaño reducido */
    height: 50px; /* Tamaño reducido */
    border-radius: 50%; /* Hace que la imagen sea circular */
    margin-right: 10px;
}

.logo-link h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

main {
    padding: 20px;
    text-align: center;
}

h1 {
    margin-bottom: 40px;
}

/* Tarjetas de Suscripción */
.subscriptions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: left;
    width: 300px;
    margin: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.card h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    text-align: center;
}

.card p {
    font-size: 1.2em;
    color: #333;
    text-align: center;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    margin-bottom: 10px;
    text-align: center;
}

/* Botón de Suscribirse */
.subscribe-button {
    text-align: center;
    margin-top: auto; /* Asegurar que el botón se mantenga en la parte inferior */
}

.subscribe-button button {
    background-color: #f1c40f;
    border: none;
    padding: 10px 20px;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.subscribe-button button:hover {
    background-color: #d4ac0d;
}

/* Pie de página */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 40px;
}
